<div class="order-container">

        <div class="filter-sec date"  style="margin-left: 40%; margin-top: 20px;">
                <div class="container">
                  <div class="columns is-multiline">
                    <div class="column is-6 is-offset-3">
                      <div class="datepicker-container "  >
                        <ng-datepicker   [(ngModel)]="TodayDate"     [options]="options"  ></ng-datepicker>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
    </div>