table thead tr th {
    color: #B87333;
  }
  
  span.text-center {
    display: block;
    margin-bottom: 10px;
    color: red;
  }
  
  button {
    font-size: 13px!important;
  }
  button i {
    font-size: 15px!important;
  }
  
  .modal-dialog {
    position:absolute;
    top:50% !important;
    transform: translate(0, -50%) !important;
    /* -ms-transform: translate(0, -50%) !important; */
    /* -webkit-transform: translate(0, -50%) !important; */
    margin:auto 0%;
    width:50%;
    height:50%;
  }
  .modal-content {
    min-height:100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0; 
  }
  .modal-body {
    position:absolute;
    top:10px; /** height of header **/
    bottom:10px;  /** height of footer **/
    left:0;
    right:0;
    overflow-y:auto;
  }
  .modal-footer {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
  }