<div class="container-fluid">
		<div class="container">
			<!-- <h2 class="text-center" id="title">Account</h2> -->
 			<hr>
			<div class="row">
				<div class="col-md-5">
 					<form role="form" method="post" action="register.php">
						<fieldset>							
							<p class="text-uppercase pull-center" style="color: darkgoldenrod; font-size: 25px">SIGN UP</p>	
 							<div class="form-group">
								<input type="text" name="username" id="username" class="form-control input-lg" placeholder="username">
							</div>

							<div class="form-group">
								<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
							</div>
							<div class="form-group">
								<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
							</div>
								<div class="form-group">
								<input type="password" name="password2" id="password2" class="form-control input-lg" placeholder="Password2">
							</div>
							<div class="form-check">
								<label class="form-check-label">
								  <input type="checkbox" class="form-check-input">
								  By Clicking register you're agree to our policy & terms
								</label>
							  </div>
 							<div>
 									  <input type="submit" class="btn btn-lg btn-primary"  style="margin-top: 10px" value="Register">
 							</div>
						</fieldset>
					</form>
				</div>
				
				<div class="col-md-2">
					<!-------null------>
				</div>
				
				<div class="col-md-5">
 				 		<form role="form">
						<fieldset>							
							<p class="text-uppercase" style="color: darkgoldenrod; font-size: 25px"> Login using your account: </p>	
 								
							<div class="form-group">
								<input type="email" name="username" id="username" class="form-control input-lg" placeholder="username">
							</div>
							<div class="form-group">
								<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
							</div>
							<div>
								<input type="submit" class="btn btn-md btn-primary" value="Sign In">
							</div>
								 
 						</fieldset>
				</form>	
				</div>
			</div>
		</div>
	
    </div>
    
    <footer class="ftco-footer ftco-section img">
            <div class="overlay"></div>
            <div class="container">
              <div class="row mb-5">
                <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                  <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">About Us</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                      <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                      <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                      <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-5 mb-md-5">
                  <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Terms & Condition</h2>
          
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
                   <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Services</h2>
                    <ul class="list-unstyled">
                      <li><a href="#" class="py-2 d-block">Cooked</a></li>
                      <li><a href="#" class="py-2 d-block">Deliver</a></li>
                      <li><a href="#" class="py-2 d-block">Quality Foods</a></li>
                      <li><a href="#" class="py-2 d-block">Mixed</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                  <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Contact Us</h2>
                    <div class="block-23 mb-3">
                      <ul>
                        <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                        <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 000 0000 000</span></a></li>
                        <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@food_delicous.com</span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <p>
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://www.food_delicous.com" target="_blank">Colorlib</a>
          </p>
                </div>
              </div>
            </div>
          </footer> 
